{
  presets: [
    'react',
    'env',
    'es2015',
    'stage-1'
  ],
  plugins: [
    'transform-decorators-legacy'
  ],
  comments: false,
  env: {
    test: {
      plugins: [
        'istanbul'
      ]
    }
  }
}
