.wrapper {
  background-color: #ffffff;
  width: 500px;

  .div {
    display: flex;
    flex-direction: column;
    width: 100%;

    .pZvKR {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 4px;
      background-color: #fafafa;
      margin-bottom: 11px;
      padding: 2px 10px 2px 10px;

      .zTgKe {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 10px;

        .span {
          color: #333333;
          font-size: 12px;
        }

        .qJDnm {
          color: #585a5a;
          font-size: 11px;
        }
      }

      .kBVol {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        border-radius: 5px;
        border: solid 1px #e7e9e8;
        margin-left: 16px;
        padding: 4px 10px 4px 10px;
      }
    }

    .xEqUH {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 4px;
      background-color: #fafafa;
      margin-bottom: 11px;
      padding: 2px 10px 2px 10px;

      .xYuOG {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 10px;

        .vHYtO {
          color: #333333;
          font-size: 12px;
        }

        .fCtBp {
          color: #585a5a;
          font-size: 11px;
        }
      }

      .oSVrf {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 10px;

        .jlPlf {
          color: #585a5a;
          font-size: 12px;
        }

        .aAiBx {
          color: #8b8f8d;
          font-size: 11px;
        }
      }
    }
  }
}
